// SPDX-License-Identifier: (GPL-2.0-only OR MIT)
// Copyright (C) 2024 Arm Ltd.

/dts-v1/;

#include "sun55i-a523.dtsi"

#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Avaota A1";
	compatible = "yuzukihd,avaota-a1", "allwinner,sun55i-t527";

	aliases {
		ethernet0 = &emac0;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	/* For now, until we have mainline components living in SRAM */
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* 128 KiB reserved for Trusted Firmware-A (BL31). */
		secmon@48000000 {
			reg = <0x0 0x48000000 0x0 0x20000>;
			no-map;
		};

		/* 256 KiB reserved for the SCP. */
		secmon@48100000 {
			reg = <0x0 0x48100000 0x0 0x40000>;
			no-map;
		};
	};

	reg_vcc12v: vcc12v {
		/* DC input jack */
		compatible = "regulator-fixed";
		regulator-name = "vcc-12v";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		regulator-always-on;
	};

	reg_vcc5v: vcc5v {
		/* board wide 5V supply from the 12V->5V regulator */
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&reg_vcc12v>;
		regulator-always-on;
	};

	reg_vcc3v3: vcc3v3 {
		/* 3.3V dummy supply for the SD card */
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc5v>;
		regulator-always-on;
	};

	reg_usb_vbus: vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&reg_vcc5v>;
		gpio = <&pio 8 12 GPIO_ACTIVE_HIGH>;	/* PI12 */
		enable-active-high;
	};

	panel_backlight: backlight {
		compatible = "gpio-backlight";
		gpios = <&r_pio 0 8 GPIO_ACTIVE_HIGH>;	/* PL8 */
	};
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&emac0 {
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii0_pins>;
	phy-mode = "rgmii-txid";
	phy-handle = <&ext_rgmii0_phy>;
	phy-supply = <&reg_cldo3>;
	allwinner,tx-delay-ps = <100>;
	allwinner,rx-delay-ps = <300>;
	status = "disabled";
};

&ir_rx {
	pinctrl-names = "default";
	pinctrl-0 = <&ir_rx_pi_pin>;
	status = "okay";
};

&mdio0 {
	ext_rgmii0_phy: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
//		reset-gpios = <&pio 7 8 GPIO_ACTIVE_LOW>;	 /* PH8 */
		reg = <1>;
	};
};

&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	vqmmc-supply = <&pio>;
	cd-gpios = <&pio 5 6 (GPIO_ACTIVE_LOW | GPIO_PULL_DOWN)>; /* PF6 */
	bus-width = <4>;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&pio {
	vcc-pb-supply = <&reg_cldo3>;	/* via VCC-IO */
	vcc-pc-supply = <&reg_cldo1>;
	vcc-pd-supply = <&reg_dcdc4>;
	vcc-pe-supply = <&reg_dcdc4>;
	vcc-pf-supply = <&reg_cldo3>;	/* actually switchable */
	vcc-pg-supply = <&reg_bldo1>;
	vcc-ph-supply = <&reg_cldo3>;	/* via VCC-IO */
	vcc-pi-supply = <&reg_dcdc4>;
	vcc-pj-supply = <&reg_dcdc4>;
	vcc-pk-supply = <&reg_bldo3>;
};

&r_i2c0 {
	status = "okay";

	axp717: pmic@35 {
		compatible = "x-powers,axp717";
		reg = <0x35>;
		interrupt-controller;
		#interrupt-cells = <1>;
		interrupt-parent = <&nmi_intc>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;

		vin1-supply = <&reg_vcc5v>;
		vin2-supply = <&reg_vcc5v>;
		vin3-supply = <&reg_vcc5v>;
		vin4-supply = <&reg_vcc5v>;
		aldoin-supply = <&reg_vcc5v>;
		bldoin-supply = <&reg_vcc5v>;
		cldoin-supply = <&reg_vcc5v>;

		regulators {
			/* Supplies the "little" cluster (1.4 GHz cores) */
			reg_dcdc1: dcdc1 {
				regulator-always-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1160000>;
				regulator-name = "vdd-cpul";
			};

			reg_dcdc2: dcdc2 {
				regulator-always-on;
				regulator-min-microvolt = <920000>;
				regulator-max-microvolt = <920000>;
				regulator-name = "vdd-gpu-sys";
			};

			reg_dcdc3: dcdc3 {
				regulator-always-on;
				regulator-min-microvolt = <1160000>;
				regulator-max-microvolt = <1160000>;
				regulator-name = "vdd-dram";
			};

			reg_dcdc4: dcdc4 {
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vdd-io";
			};

			reg_aldo1: aldo1 {
				/* not connected */
			};

			reg_aldo2: aldo2 {
				/* not connected */
			};

			reg_aldo3: aldo3 {
				/* supplies the I2C pins for this PMIC */
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc-pl-pm";
			};

			reg_aldo4: aldo4 {
				regulator-always-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc-pll-dxco-avcc";
			};

			reg_bldo1: bldo1 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc-pg-wifi-lvds";
			};

			reg_bldo2: bldo2 {
				regulator-always-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc-dram-1v8";
			};

			reg_bldo3: bldo3 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc-cvp-pk-vid1v8";
			};

			reg_bldo4: bldo4 {
				/* not connected */
			};

			reg_cldo1: cldo1 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc-pc";
			};

			reg_cldo2: cldo2 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc-efuse";
			};

			reg_cldo3: cldo3 {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc-io-mmc-spi-ana";
			};

			reg_cldo4: cldo4 {
				/* not connected */
			};

			reg_cpusldo: cpusldo {
				/* supplies the management core */
				regulator-always-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdd-cpus";
			};
		};
	};

	axp323: pmic@36 {
		compatible = "x-powers,axp323";
		reg = <0x36>;
		#interrupt-cells = <1>;
		interrupt-controller;
		interrupt-parent = <&nmi_intc>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		status = "okay";

		vin1-supply = <&reg_vcc5v>;
		vin2-supply = <&reg_vcc5v>;
		vin3-supply = <&reg_vcc5v>;

		regulators {
			aldo1 {
				/* not connected */
			};

			dldo1 {
				/* not connected */
			};

			/* Supplies the "big" cluster (1.8 GHz cores) */
			reg_dcdc1_323: dcdc1 {
				regulator-always-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1160000>;
				regulator-name = "vdd-cpub";
			};

			/* DCDC2 is polyphased with DCDC1 */

			/* Some RISC-V management core related voltage */
			reg_dcdc3_323: dcdc3 {
				regulator-always-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdd-dnr";
			};
		};
	};
};

&r_pio {
/*
 * Specifying the supply would create a circular dependency.
 *
 *	vcc-pl-supply = <&reg_aldo3>;
 */
	vcc-pm-supply = <&reg_aldo3>;
};

&r_spi {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&r_spi_pins>, <&r_spi_cs_pin>;

	st7789v@0 {
		compatible = "sitronix,st7789v";
		reg = <0>;

		reset-gpios = <&r_pio 0 9 GPIO_ACTIVE_LOW>;	/* PL9 */
		dc-gpios = <&r_pio 0 13 GPIO_ACTIVE_LOW>;	/* PL13 */
		backlight = <&panel_backlight>;
		rotation = <90>;
		rotate = <90>;
		power-supply = <&reg_dcdc4>;
//  port: true

//  spi-cpha: true
//  spi-cpol: true

//		rgb;		// ???
		spi-max-frequency = <75000000>;
//		fps = <30>;	// ???
//		buswidth = <8>;	// ???
	};
};

&spi0  {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pj_pins>, <&spi0_cs0_pj_pin>;

	flash@0 {
		status = "disabled";
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <40000000>;
		#address-cells = <1>;
		#size-cells = <1>;
	};
};

&spi2  {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi2_pins>, <&spi2_cs_pin>;

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};

&usb_otg {
	dr_mode = "otg";
	status = "okay";
};

&usbphy {
	usb0_vbus-supply = <&reg_usb_vbus>;
	usb0_vbus_det-gpios = <&pio 8 13 GPIO_ACTIVE_HIGH>; /* PI13 */
	status = "okay";
};
