CONFIG_ARM=y
CONFIG_ARCH_NEXELL=y
# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_SYS_ARCH_TIMER is not set
CONFIG_DEFAULT_DEVICE_TREE="s5p6818-nanopi-m3"
CONFIG_HUSH_PARSER=y
CONFIG_CMD_MMC=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_EXT4_WRITE=y
CONFIG_CMD_FAT=y
CONFIG_CMD_FS_GENERIC=y
