CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_SPL=y
CONFIG_MACH_SUN50I=y
CONFIG_SUNXI_ARMV8_32BIT_BUILD=y
CONFIG_SUNXI_MULTI_SOC=y
# CONFIG_MACH_SUN50I_H5=y	# this clashes with the above in the moment
CONFIG_SUNXI_DRAM_DDR3=y
CONFIG_SUNXI_DRAM_DDR3_1333=y
CONFIG_SUNXI_DRAM_LPDDR3=y
CONFIG_SUNXI_DRAM_LPDDR3_STOCK=y
CONFIG_MMC0_CD_PIN=""
CONFIG_DEFAULT_DEVICE_TREE="sun50i-a64-pine64-lts"
CONFIG_MMC_SUNXI_SLOT_EXTRA=2
CONFIG_SPL_SPI_SUNXI=y
CONFIG_SYS_SPI_U_BOOT_OFFS=0x8000
