config DRAM_SUN20I_D1
	bool "DM DRAM driver support for Allwinner D1"
	depends on RAM && ARCH_SUNXI
	default y
	help
	  This enables support for DRAM drivers using the driver model
	  for Allwinner SoCs.

config DRAM_SUN8I_R528
	bool "DRAM driver support for Allwinner R528/T113s"
	default y if MACH_SUN8I_R528
	help
	  Select this DRAM controller driver for the R528/T113s SoCs.

config DRAM_SUNXI_ODT_EN
	hex "DRAM ODT EN parameter"
	default 0x1
	help
	  ODT EN value from vendor DRAM settings.

config DRAM_SUNXI_TPR0
	hex "DRAM TPR0 parameter"
	default 0x0
	help
	  TPR0 value from vendor DRAM settings.

config DRAM_SUNXI_TPR11
	hex "DRAM TPR11 parameter"
	default 0x0
	help
	  TPR11 value from vendor DRAM settings.

config DRAM_SUNXI_TPR12
	hex "DRAM TPR12 parameter"
	default 0x0
	help
	  TPR12 value from vendor DRAM settings.

config DRAM_SUNXI_TPR13
	hex "DRAM TPR13 parameter"
	default 0x0
	help
	  TPR13 value from vendor DRAM settings. It tells which features
	  should be configured.

choice
	prompt "DRAM chip type"
	default SUNXI_DRAM_DDR3 if DRAM_SUN8I_R528 || DRAM_SUN20I_D1

config SUNXI_DRAM_DDR2
        bool "DDR2 chips"

config SUNXI_DRAM_DDR3
        bool "DDR3 chips"

config SUNXI_DRAM_LPDDR2
        bool "LPDDR2 chips"

config SUNXI_DRAM_LPDDR3
        bool "LPDDR3 chips"
endchoice

config SUNXI_DRAM_TYPE
	int
	default 2 if SUNXI_DRAM_DDR2
	default 3 if SUNXI_DRAM_DDR3
	default 6 if SUNXI_DRAM_LPDDR2
	default 7 if SUNXI_DRAM_LPDDR3
